@import "../../index.scss";

section {
  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .form-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 15px;

      input {
        width: 100%;
      }

      button {
        padding: 10px 15px;

        display: flex;
        flex-direction: row;
        align-items: center;

        border: none;
        color: white;
        background-color: #0079bd;
      }

      a {
        padding: 0 25px;
        margin: 0;

        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        border: none;
        background: none;
        color: white;

        @include rwd("600px") {
          padding: 15px 25px;
        }

        img {
          height: 15px;
          aspect-ratio: 1 / 1;
        }
      }
    }

    .bottom-row {
      flex-direction: column;
      align-items: center;

      button {
        width: 100%;
        justify-content: center;
      }

      @include rwd("600px") {
        flex-direction: row;
        align-items: center;

        button,
        a {
          width: auto;
        }
      }
    }

    input,
    textarea {
      padding: 10px 20px;

      font-size: 16px;

      border: none;
      color: white;
      background-color: #414141;
    }

    input {
      height: 25px;
    }
  }

  .socials-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    @include rwd("600px") {
      flex-direction: row;
    }

    a {
      margin: 0;
      text-decoration: underline;
      font-weight: 400;

      display: flex;
      gap: 10px;

      img {
        height: 25px;
      }
    }

    .line-seperator {
      height: 1px;
      width: 25px;

      background-color: white;
    }
  }
}
