section {
  .skills-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 15px;

    .skill {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 15px;

      cursor: default;
    }
  }
}
