section {
  .skills-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 10px;

    .skill {
      height: 35px;

      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 15px;

      p {
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
}
