@import "../../index.scss";

section {
  .img-container {
    height: 55vw;

    background-color: $dark-grey;

    @include rwd("600px") {
      height: 350px;
    }

    img {
      height: inherit;
      width: 100%;

      object-fit: cover;
    }
  }

  .resume-container {
    position: relative;
    background-color: $dark-grey;

    img {
      height: inherit;
      width: 100%;

      object-fit: cover;
    }
  }
}
