@import "../../index.scss";

section {
  .education-content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .education-card {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .card-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        h2 {
          font-size: $font-size-heading-medium;
          line-height: $font-size-heading-medium !important;
        }

        p {
          line-height: 16px !important;
          padding: 2px 0;
        }
      }

      .card-right {
        justify-content: flex-end;

        p {
          text-align: end;
        }
      }
    }

    .line-seperator {
      width: 50px;
      height: 1px;

      background-color: white;
    }
  }
}
