.logo {
  position: fixed;
  left: 50px;
  top: 50px;

  font-size: 50px;
  color: white;
  text-decoration: none;
}

nav {
  position: fixed;
  left: 50px;
  bottom: 50px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  color: white;

  .link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    .link-selector {
      margin-top: 3px;

      height: 2px;
      width: 40px;

      background-color: white;
    }

    a {
      font-size: 24px;
      color: white;
      text-decoration: none;
    }
  }
}

.social-links {
  position: fixed;
  right: 50px;
  bottom: 50px;

  display: flex;
  flex-direction: column;
  justify-content: right;
  gap: 10px;

  a {
    font-size: 24px;
    color: white;
    text-decoration: none;
    text-align: right;
  }
}
