@import "../../index.scss";

.featured-project-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2px 0;

  .project-content {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;

    // &:hover {

    // }

    a {
      text-decoration: none;
      text-align: start !important;
      width: 100%;
    }

    .project-left {
      display: flex;
      flex-direction: column !important;
      align-items: flex-start;
      gap: 10px;

      width: 100%;

      h2 {
        font-size: $font-size-heading-medium;
        line-height: $font-size-heading-medium !important;
      }

      p {
        line-height: 16px !important;
      }
    }

    .project-right {
      display: flex;
      flex-direction: column;
      gap: 10px;

      @include rwd("600px") {
        flex-direction: row;
      }

      a {
        margin-left: auto;

        @include rwd("600px") {
          margin-left: 0;
        }
        img {
          height: 15px;
          aspect-ratio: 1 / 1;
        }
      }
    }
  }
}
