@import "../../index.scss";

.featured-project-card {
  display: flex;
  flex-direction: column;

  .project-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    a {
      text-decoration: none;
    }

    .project-left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;

      h2 {
        font-size: 24px;
        line-height: 20px;
      }

      p {
        line-height: 16px;
      }
    }

    .project-right {
      display: flex;
      flex-direction: column;
      gap: 15px;

      @include tablet {
        flex-direction: row;
        align-items: center;
      }

      button {
        padding: 10px 15px;

        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        border: none;
        color: white;
        background-color: #0079bd;

        img {
          height: 15px;
          aspect-ratio: 1 / 1;
        }
      }
    }
  }
}
