@import '../../styles/variables';
@import '../../styles/mixins';

// =============================================================================
// FEATURED PROJECT CARD COMPONENT
// =============================================================================

.featured-project-card {
  @include flex-column;
  width: 100%;
  padding: 2px 0;

  .project-content {
    @include flex-start;
    width: 100%;

    a {
      text-decoration: none;
      text-align: start !important;
      width: 100%;
    }

    .project-left {
      @include flex-column;
      align-items: flex-start;
      gap: $spacing-sm;
      width: 100%;

      h2 {
        font-size: $font-size-xl;
        line-height: $font-size-xl !important;
      }

      p {
        line-height: 20px !important;
      }
    }

    .project-right {
      @include flex-column;
      gap: $spacing-sm;

      @include desktop {
        flex-direction: row;
      }

      a {
        margin-left: auto;

        @include desktop {
          margin-left: 0;
        }
        img {
          height: 15px;
          aspect-ratio: 1 / 1;
        }
      }
    }
  }
}
