@import "../../index.scss";

footer {
  padding-bottom: 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p {
    text-align: center;

    @include rwd("600px") {
      text-align: start;
    }
  }

  a {
    font-weight: 700;
    text-decoration: underline !important;
  }
}
