.welcome-page {
  position: relative;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  outline: none;

  .signature,
  .button-container {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    span {
      font-size: 40px !important;
      text-decoration: none !important;
    }
  }

  .loading-line {
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: column;

    .line {
      position: absolute;
    }

    h2 {
      margin-top: 10px;
      font-size: 50px;
    }
  }

  div,
  h2 {
    z-index: 50 !important;
  }

  .signature {
    z-index: 40;
    width: 300px;
  }

  p {
    position: fixed;

    bottom: 20px;
  }
}
