@import "../../index.scss";

.app-right {
  position: fixed;
  top: 0;
  right: 0;

  height: 100vh;

  display: none;
  @include rwd("1050px") {
    display: flex;
  }

  flex-direction: column;
  justify-content: end;

  .social-links {
    margin-bottom: 50px;
    margin-right: 50px;

    display: flex;
    flex-direction: column;
    justify-content: right;
    gap: 10px;

    text-align: right;

    .social-link-div {
      display: flex;
      flex-direction: row;
      justify-content: end;
      align-items: flex-end;
      gap: 10px;

      font-size: 20px;
      color: white;
      text-decoration: none;
      text-align: right;

      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
