.app-right {
  position: sticky;
  top: 0;

  height: 100vh;
  width: 20%;

  display: flex;
  flex-direction: column;
  justify-content: end;

  .social-links {
    margin-bottom: 50px;
    margin-right: 50px;

    display: flex;
    flex-direction: column;
    justify-content: right;
    gap: 10px;

    text-align: right;

    .social-link-div {
      display: flex;
      flex-direction: row;
      justify-content: end;
      align-items: end;
      gap: 10px;

      a {
        font-size: 20px;
        color: white;
        text-decoration: none;
        text-align: right;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
