#root {
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .content {
    max-width: 1000px;
  }
}
