@import "./index.scss";

#root {
  margin: 0 auto;
}

a {
  font-family: "Antonio", sans-serif;
}

button {
  padding: 20px 80px;

  font-size: 14px;
  font-weight: 900;
  text-align: center;

  cursor: pointer;

  @include tablet {
    font-size: 0.7em;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .menu-btn {
    position: fixed;
    top: 20px;
    right: 20px;

    padding: 20px;

    display: block;

    @include rwd("1050px") {
      display: none;
    }
  }

  .content {
    margin: 0 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
      margin: 0 50px;
    }
  }
}
