@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap");

:root {
  font-family: "Antonio", sans-serif;

  background-image: url("bg-dark.png");

  color: white;
  background-color: rgb(27, 27, 27);
}

body {
  margin: 0;
}

button {
  font-family: "Antonio", sans-serif;
}

@mixin mobile {
  @media (min-width: 250px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 760px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

// CUSTOM
@mixin rwd($screen) {
  @media (min-width: $screen) {
    @content;
  }
}
