@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

// COLORS
$dark-grey: #414141;
$white: #fff;
$blue: #0079bd;

// WIDTHS - HEIGHTS
$site-width: 600px;

// PADDINGS - MARGINGS - GAPS
$mobile-padding: auto 10px;
$button-padding: 10px 15px;
$section-gap: 50px;
$scroll-margin: 50px;
$component-gap: 30px;

// BACKGROUND
$bg-img: url("/images/bg-dark.png");
$bg-color: rgb(27, 27, 27);
$bg-size: contain;
$bg-repeat: repeat;

// TEXT
$font-family: "Roboto Condensed", sans-serif;
$text-color: white;

$font-weight-light: 300;
$font-weight-regular: 500;
$font-weight-bold: 700;

$font-size-paragraph: 18px;
$font-size-heading-medium: 24px;
$font-size-heading-large: 40px;
$font-size-button: 14px;
$font-size-link: 16px;
$font-size-span: 16px;

:root {
  font-family: $font-family;

  background-image: $bg-img;
  background-color: $bg-color;
  background-repeat: $bg-repeat;
  background-size: $bg-size;

  color: $text-color;

  // PREVENT-DEFAULT //////////////////////
  body {
    margin: 0 8px;
  }

  a,
  input,
  textarea,
  button {
    font-family: $font-family;
  }

  textarea {
    resize: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    padding: 0;
    margin: 0;
  }
  ///////////////////////////////////////////
}

// MIXINS FOR RESPONSIVE DESIGN
@mixin mobile {
  @media (min-width: 250px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 760px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin desktopLarge {
  @media (min-width: 1920px) {
    @content;
  }
}

// CUSTOM SCREEN SIZE
@mixin rwd($screen) {
  @media (min-width: $screen) {
    @content;
  }
}
