@import "../../index.scss";

section {
  .project-heading {
    display: flex;
    justify-content: space-between;

    .left {
      h1 {
        font-size: 40px;
      }
    }

    .right {
      display: flex;
      gap: 10px;
    }
  }

  .project-description {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .gallery-container {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 15px;

    .pagination {
      width: 100%;
      z-index: 60;

      display: flex;
      flex-direction: row;
      gap: 15px;
      justify-content: center;

      .pagination-bullet {
        height: 70px;
        width: 100px;

        background-color: $dark-grey;

        cursor: pointer;

        img {
          width: 100%;
          height: inherit;
          object-fit: cover;
        }
      }
    }

    .swiper {
      height: 400px;
      width: 100%;

      background-color: $dark-grey;

      cursor: pointer;

      .swiper-buttons {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 50;

        width: 100%;

        display: flex;
        justify-content: space-between;

        button {
          margin: 0 15px;
          padding: 10px !important;
          border-radius: 50% !important;
          background-color: $red-alt !important;
        }
      }

      .swiper-slide {
        background: grey;
        overflow-y: hidden;
        overflow-x: hidden;
      }
    }
  }

  .todo-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .line-seperator {
    width: 50px;
    height: 1px;

    background-color: white;
  }
}
